# List and its default functions

In [1]:
lst=[1,3,5,7,56,205,666.6]

In [5]:
lst

[1, 3, 5, 7, 56, 205, 666.6]

In [6]:
max(lst)

666.6

In [7]:
min(lst)

1

In [10]:
lst1 = {"My","name","is","John"}

In [11]:
print(list(lst1))

['John', 'name', 'is', 'My']

In [12]:
len(lst)

7

In [13]:
print(list(range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Dictionary and its default functions

In [14]:
dict = {'name': 'vishu','age':25,'location':'Hyderabad','salary':20000}

In [15]:
dict

{'name': 'vishu', 'age': 25, 'location': 'Hyderabad', 'salary': 20000}

In [16]:
any(dict)

True

In [17]:
all(dict)

True

In [18]:
len(dict)

4

In [19]:
sorted(dict)

['age', 'location', 'name', 'salary']

# Sets and its default functions

In [21]:
set={"vishu","letsupgrade",2,5,8,6,7,2,5,8,6,7,9,0,3}

In [22]:
set

{0, 2, 3, 5, 6, 7, 8, 9, 'letsupgrade', 'vishu'}

In [23]:
any(set)

True

In [24]:
all(set)

False

In [25]:
len(set)

10

In [27]:
set1={88,33,54,56564,515648,786,0,2,9}

In [28]:
min(set1)

0

In [30]:
max(set1)

515648

In [31]:
sum(set1)

573184

In [32]:
sorted(set1)

[0, 2, 9, 33, 54, 88, 786, 56564, 515648]

# Tuple and explore default methods

In [33]:
tup=(5,"vishu",9,10,1.1,8561)

In [34]:
tup

(5, 'vishu', 9, 10, 1.1, 8561)

In [35]:
tup.count(tup)

0

In [36]:
tup.index('vishu')

1

# Strings and explore default methods

In [37]:
str='Vishwanatham'

In [38]:
str

'Vishwanatham'

In [39]:
str.center(15,'$')

'$$Vishwanatham$'

In [43]:
str.count('a')

3

In [45]:
str.swapcase()

'vISHWANATHAM'

In [46]:
str.find('h')

3

In [47]:
str.endswith('m')

True

In [50]:
str.index('a')

5

In [51]:
str.islower()

False

In [52]:
str.isupper()

False

In [53]:
str.upper()

'VISHWANATHAM'

In [54]:
str.lower()

'vishwanatham'

In [55]:
str.startswith('s')

False